.btn {
  cursor: pointer;
  margin-top: 20px;
  background: #fff;
  border: 1px solid #000;
  padding: 8px;
  transition: 0.3s;
}

.btn:hover {
  border: 1px solid #4f44ff;
  color: white;
  background: #4f44ff;
}

.table {
  margin: 20px auto;
}

.table td,
th {
  padding: 8px;
}

.table tr > td > button {
  margin: 0 6px;
  cursor: pointer;
  background: #fff;
  padding: 8px;
  border: 1px solid #000;
  transition: 0.5s;
}

.table thead > tr {
  border: 1px solid black;
}

.table tbody > tr:nth-child(odd) {
  background: #b6b6b6;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.table tr > td > button:hover {
  border: 1px solid #4f44ff;
  color: white;
  background: #4f44ff;
}

.table tr > td > input {
  margin: 0;
}

input {
  height: 13px;
  font-size: 14px;
  padding: 8px;
  margin: 0 12px;
}

.container {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.newItemSection {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0 auto;
}

.textError {
  color: red;
  font-size: 16px;
  font-weight: bold;
}
